### CLion ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839


.idea
cmake-build-*/


### Vim
*.swp
/.vs
/out/build/x64-debug
/out/960490943/build/linux-debug
